<div class="dialog-wrapper">
    <div class="dialog-container">
        <h1 mat-dialog-title>Generate Password</h1>
        <div mat-dialog-content>
            <h2>Email</h2>
            <input matInput [(ngModel)]="email" type="email" required>
            <div class="re-captcha">
                <re-captcha (resolved)="resolved($event)" siteKey="6LcksN0pAAAAAHIhqiUYFYERcIA9qil4rP7kZWKE"></re-captcha>
            </div>
        </div>
        <div mat-dialog-actions>
            <button mat-button (click)="onCancel()">Cancel</button>
            <button mat-button (click)="onGenerate()">Generate</button>
        </div>
    </div>
</div>
