<div class="dialog-wrapper">
  <div class="dialog-container">
    <div class="modal">
      <h2>Login with Password</h2>
      <form (ngSubmit)="login()">
        <div class="form-group">
          <input
            type="password"
            [(ngModel)]="password"
            name="password"
            placeholder="Enter Password"
          />
        </div>
        <button type="submit">Login</button>
      </form>
      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
      <button class="close-button" (click)="closeDialog()">Close</button>
    </div>
  </div>
</div>
